<html>

<head>
    <title>

    </title>
</head>

<body>
{{>header}}


<!--<img src="/images/img.png">-->
<p>I AM IN A HBS FILE !</p>

<form method="post" action="/register">

    <input name="roll" type="text" placeholder="ROLL NO">
    <br>
    <input name="name" type="text" placeholder="NAME">
    <br>
    <input name="age" type="text" placeholder="AGE">

    <input type="submit" value="SUBMIT">

</form>




<a href="/second"> CLICK HERE</a>
</body>
</html>